<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
     <service behaviorConfiguration="DebugInterfaceBehave" name="Ratcow.Debugging.Server.DebugInterface">
        <endpoint address="http://127.0.0.1:9001/DebugInterface" binding="basicHttpBinding" contract="Ratcow.Debugging.Server.IDebugInterface"/>        
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9001/DebugInterface"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugInterfaceBehave">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
